#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel1 img {
    width:100%;
}
.travel1 hr {
    width:230px;
}
.travel1 h5,.travel1 p {
    margin-left:20px;
}
.travel1 {
    padding-left:0px;
    padding-right:0px;
    float:none;
    border:1px solid orchid;
}
.moviehead {
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:20px;
    width:100%;
    display:inline-block;
}
.moviehead i {
    float:right;
}
.movietext span {
    color:peru;
}
.environmentlist {margin-top:15px;}
.environmentlist h4 {
    padding:8px; border-bottom:1px solid greenyellow;
}
.environmentlist img {border-radius:25px;}
.environmentlist p {margin-top:10px;}